<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <receiver
            android:name="com.alarmapp.core.alarm.receiver.AlarmBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name="com.alarmapp.core.alarm.receiver.BootReceiver"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.alarmapp.core.alarm.receiver.TimeChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.alarmapp.core.alarm.service.AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|specialUse"
            tools:targetApi="34">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Alarm ringing; a dismiss interaction is required." />
        </service>
    </application>
</manifest>
